{{> partials / ih
  class="header"
  direction="center"
  src="/images/hero.png"
}}
{{> partials / spacer class="spacer-30" }}

{{> partials / art
  text='
		<p>Hello World!</p>
	'
}}
{{> partials / spacer class="spacer-30" }}
