.buttons {
	max-width: $main-width;
	background-color: $secondary-base;

	.main-wrap {
		max-width: $main-width;
		background-color: $secondary-base;

		.btn-wrap {
			margin: 0 auto; // IOS fix align center
		}
	}

	&.posRel {
		width: 230px;
		background-color: #fff;
		position: relative;
		top: -50px;
	}
}

.btn {
	// border-radius: 5px;
	// padding: 0px 25px;

	text-align: center;
	height: 44px;
	display: block;
	background-color: $theme-base;
	/*border-bottom: 4px solid $darken-theme-base;*/
	/*-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;*/

	&:hover {
		background-color: $darken-theme-base !important;
		/*border-bottom-color: $theme-color-text !important;*/
	}
}

.btn-primary {

	> a {
		color: #ffffff;
		font-family: $font;
		font-style: normal;
		font-size: 16px;
		font-weight: normal;
		line-height: 44px; // vAlign text center
		text-align: center;
		text-decoration: none;
		width: 100%;
		display: block;
		border-bottom: 0;
		// border-radius: 10px;
		-webkit-text-size-adjust: none;

		&:first-letter {
			text-transform: uppercase;
		}
	}
}

.double-column .double-content .double-container {
	.btn {
		// border-radius: 5px;
		// padding: 0px 25px;

		text-align: center;
		height: 44px;
		display: block;
		background-color: $theme-base;
		/*border-bottom: 4px solid $darken-theme-base;*/
		/*-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;*/

		&:hover {
			background-color: $darken-theme-base !important;
			/*border-bottom-color: $theme-color-text !important;*/
		}
	}
	.btn-primary {

		> a {
			color: #ffffff;
			font-family: $font;
			font-style: normal;
			font-size: 16px;
			font-weight: normal;
			line-height: 44px; // vAlign text center
			text-align: center;
			text-decoration: none;
			width: 100%;
			display: block;
			border-bottom: 0;
			// border-radius: 10px;
			-webkit-text-size-adjust: none;

			&:first-letter {
				text-transform: uppercase;
			}
		}
	}

}