<table class="article" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td>
			{{!-- change the width percentage on table
			90% = 540px  --  95% = 540px + 30px  --}}
			<table class="main-wrap {{class}}" width="90%" cellspacing="0" cellpadding="0" border="0" align="center">
				<tr>
					<td>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>