<table class="webview {{class}}" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
	<tr>
		<td>
			{{!-- change the width percentage on table
			90% = 540px  --  95% = 540px + 30px  --}}
			<table class="main-wrap" width="90%" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td class="aligncenter">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore <a index href="/index.html" target="_blank" >magna aliqua</a>.
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>